
html{
  font-size: 62.5%;
}

body{

	font-family: "sahel";
	font-size: 3rem;
    padding: 10px;
}


.even-odd{
    padding: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    text-align: center;
    width: 100%;
    }

   .num{
      border:2px solid #000;
   }
    .number_class {
      padding: 10px;
    margin: 0 10px;
   }

   .btn{
     padding: 10px;
    background: cadetblue;
    border-radius: 5px;
    margin: 30px 10px;
    width: 40%;
   }
